/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    left:0
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
.submenu{
    margin-left: 30px;
}

  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  .conatiner-padding{
padding-top:5%;
padding-left:20%
  }

h1{
padding-bottom:5%
}
.padding-between{
  padding-bottom:1%
}

.form-buttons{
  margin-left: 16%;
    margin-top: 1%;
}

.error_msg{
  color:red;
}